---
// src/pages/life-insurance/endowment-savings.astro
---

<html lang="en">
  <head>
    <title>Endowment & Savings</title>
  </head>
  <body>
    <h1>Endowment & Savings</h1>
    <p>Content coming soon...</p>
  </body>
</html>